.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    max-height: 1400px;
}

.dashboard-chat-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    min-height: 585px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.dashboard-status-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    height: 100%;
    min-height: 585px;
    width: 100%;
    overflow: hidden;
}

.chat-backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #00000038;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(1px);
    z-index: 3;
}

.chat-backdrop-hidden {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #00000038;
    border-radius: 0 0 10px 10px;
}

.fade-in {
	-webkit-animation: fade-in 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}