
#user-options {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    position: absolute;
    background-color: var(--darker);
    top: 0;
    right: 0;
    font-size: 2rem;
    transition: all 100ms ease-out;
    cursor: pointer;
}

#user-options i {
    font-size: 1.2rem;
}

#user-options-active {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    position: absolute;
    background-color: var(--primary);
    color: var(--white);
    top: 0;
    right: 0;
    font-size: 2rem;
    transition: all 100ms ease-out;
    cursor: pointer;
}

#user-options-active i {
    font-size: 1.2rem;
}

@media screen and (max-width: 425px) {
    #user-options {
        display: flex;
    }

    #user-options-active {
        display: flex;
    }
}
