#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  /* padding: 1rem 0 0 0; */
  height: 100vh;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* loading animation */

@keyframes loading {
  from {
      background-color: #c4c4c4
  }
  to {
      background-color: #c4c4c4ad
  }
}