* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--darkgray);
  --lighter: #C8F2DD;
  --light: #90E5BA;
  --primary: #21ca74;
  --dark: #1f744b;
  --darker: #1e4936;
  --black: #1c1d21;
  --white: #fcfcfc;
  --offwhite: #E8E8E8;
  --gray: #c3c3c3;
  --darkgray: #313235;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  height: calc(100vh - env(safe-area-inset-bottom));
}