.family-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--dark);
    border-radius: 50px;
    transition: all 100ms ease-out;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.family-icon-container:hover {
    background-color: var(--darker);
}

.family-icon-container-active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.family-icon-container-active i {
    font-size: 2rem;
    color: var(--primary);
}

.family-icon-container i {
    font-size: 2rem;
    color: var(--white);
}