.leave-family-btn {
    background-color: transparent;
    border: solid 2px #ff3636;
    color: #ff3636;
    width: 100%;
    padding: 1rem 0;
    border-radius: 99999px;
    transition: all 100ms ease-out;
    cursor: pointer;
}

.leave-family-btn:hover {
    background-color: transparent;
    background-color: #ff3636;
    color: var(--white);
  }