.leave-family-btn {
  background-color: transparent;
  border: solid 2px #ff3636;
  color: #ff3636;
  width: 100%;
  padding: 1rem 0;
  border-radius: 99999px;
  transition: all 100ms ease-out;
  cursor: pointer;
}

.leave-family-btn:hover {
  background-color: transparent;
  background-color: #ff3636;
  color: var(--white);
}

.clipboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: var(--white);
  height: calc(45px - 1rem);
  aspect-ratio: 1 / 1;
  right: 1rem;
  border-radius: 4px;
  color: var(--dark);
  border: solid var(--primary) 2px;
  opacity: 0;
  transition: 200ms ease-out all;
  cursor: pointer;
}

.family-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.members-down-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: solid green; */
}

.test-body {
  transition: 200ms ease-out;
  max-height: 0px;
  width: 100%;
  overflow: hidden;
}

.inner-test {
  height: 150px;
  width: 100%;
  border: solid var(--dark);
  border-radius: 5px;
  overflow: scroll;
}

.inner-test::-webkit-scrollbar {
    display: none;
}

.inner-test ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: solid red; */
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.inner-test ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--offwhite);
    color: var(--black);
    height: 50px;
    width: 100%;
    border-bottom: solid var(--dark);
    padding: 1rem 1rem;

}

.member-list-item-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;

}

.member-list-item-btn-container button {
    aspect-ratio: 1 / 1;
    width: 30px;
    background-color: var(--primary);
    border-radius: 4px;
    border: none;
    transition: 150ms ease-out;
    cursor: pointer;
}

.member-list-item-btn-container button:hover {
    background-color: var(--darker);
}

#member-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

