.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    height: auto;
    width: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.auth-header {
    color: #171717;
    font-size: 2rem;
    margin: 0 0 1rem 0;

}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.auth-input {
    height: 50px;
    width: 100%;
    background-color: #90e5bb67;
    border: none;
    border-radius: 50px;
    padding: 0 1rem;
    font-size: 1rem;
    color: #171717;
}

.auth-input:hover {
    background-color: var(--lighter);
}

.auth-input:not(:placeholder-shown) {
    background-color: var(--lighter);
}

.auth-input:focus {
    outline: none;
    background-color: var(--lighter);
}

#login-btn {
    background-color: var(--primary);
    color: #fff;
    height: 50px;
    width: 100%;
    border: solid 2px var(--primary);
    border-radius: 50px;
    padding: 0 1rem;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
}

#login-btn:hover {
    background-color: #ffffff;
    color: var(--primary);
    transition: all 100ms ease-out;
}

.form-container small {
    color: var(--primary);
}

.switch-auth:hover {
    text-decoration: underline;
    cursor: pointer;
}

.auth-logo {
    margin: 2rem 0 1rem 0;
}